<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 text-left">
      <h3>코딩 하기: {{{ title }}} </h3>
      <br/>
      <div class="card">
        <div class="card-body">
          <p>항목을 클릭하거나, 선택할 때 가이드가 자동 스크롤됩니다.</p>
          <form>
            <h3 class="text-danger">전체기사</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">차원</th>
                  <th scope="col">항목</th>
                  <th scope="col">데스크탑</th>
                  <th scope="col">모바일</th>
                </tr>
              </thead>
              <tbody>
                <!--전체 기사 / 선형성 / 복수성-->
                <tr>
                  <td><strong>선형성</strong></td>
                  <td data-role="title"><a href="#general-linearity-plurality">복수성</a></td>
                  <td data-role="option">
                    <select class="form-control" name="general_linearity_plurality_large">
                      <option value="default">-</option>
                      <option value="plural">복수</option>
                      <option value="single">단수</option>
                    </select>
                  </td>
                  <td data-role="option">
                    <select class="form-control" name="general_linearity_plurality_small">
                      <option value="default">-</option>
                      <option value="plural">복수</option>
                      <option value="single">단수</option>
                    </select>
                  </td>
                </tr>
                
                <!--전체 기사 / 선형성 / 순서성-->
                <tr>
                  <td></td>
                  <td data-role="title"><a href="#general-linearity-ordering">순서성</a></td>
                  <td data-role="option">
                    <select class="form-control" name="general_linearity_ordering_large">
                      <option value="default">-</option>
                      <option value="na">해당없음</option>
                      <option value="true">있음</option>
                      <option value="weak">약함</option>
                      <option value="none">없음</option>
                    </select>
                  </td>
                  <td data-role="option">
                    <select class="form-control" name="general_linearity_ordering_small">
                      <option value="default">-</option>
                      <option value="na">해당없음</option>
                      <option value="true">있음</option>
                      <option value="weak">약함</option>
                      <option value="none">없음</option>
                    </select>
                  </td>
                </tr>
                
                <!--전체 기사 / 선형성 / 건너뛰기-->
                <tr>
                  <td></td>
                  <td data-role="title"><a href="#general-linearity-skippable">건너뛰기</a></td>
                  <td data-role="option">
                    <select class="form-control" name="general_linearity_skippable_large">
                      <option value="default">-</option>
                      <option value="na">해당없음</option>
                      <option value="able">가능</option>
                      <option value="unable">불가능</option>
                    </select>
                  </td>
                  <td data-role="option">
                    <select class="form-control" name="general_linearity_skippable_small">
                      <option value="default">-</option>
                      <option value="na">해당없음</option>
                      <option value="able">가능</option>
                      <option value="unable">불가능</option>
                    </select>
                  </td>
                </tr>
                
                <!--전체 기사 / 메시지 / 텍스트/시각화 중심도-->
                <tr>
                  <td><strong>메시지</strong></td>
                  <td data-role="title"><a href="#general-message-messageRatio">텍스트/시각화 중심도</a></td>
                  <td data-role="option">
                    <select class="form-control" name="general_message_messageRatio_large">
                      <option value="default">-</option>
                      <option value="visual">시각화 중심</option>
                      <option value="mixed">혼합</option>
                      <option value="text">텍스트 중심</option>
                    </select>
                  </td>
                  <td data-role="option">
                    <select class="form-control" name="general_message_messageRatio_small">
                      <option value="default">-</option>
                      <option value="visual">시각화 중심</option>
                      <option value="mixed">혼합</option>
                      <option value="text">텍스트 중심</option>
                    </select>
                  </td>
                </tr>
                
                <!--전체 기사 / 메시지 / 전체요약-->
                <tr>
                  <td></td>
                  <td data-role="title"><a href="#general-message-summary">전체요약</a></td>
                  <td data-role="option">
                    <select class="form-control" name="general_message_summary_large">
                      <option value="default">-</option>
                      <option value="long">장문</option>
                      <option value="short">단문</option>
                      <option value="none">없음</option>
                    </select>
                  </td>
                  <td data-role="option">
                    <select class="form-control" name="general_message_summary_small">
                      <option value="default">-</option>
                      <option value="long">장문</option>
                      <option value="short">단문</option>
                      <option value="none">없음</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table><!--폼 표 // 전체-->
          </form><!--폼-->
        </div><!--카드 내용-->
        <div class="card-body">
          <h3>개별 시각화 코딩하기</h3>
          <ul>
            {{#each subvis}}
              <li>
                <a href="/code_ind/{{ this }}">{{ this }}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div><!--카드-->
    </div> <!--레이아웃-->
    
    <!--가이드북 영역-->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 text-left">
      <h3>코딩 가이드 북</h3>
      <br/>
      <div class="card on_fixed  sticky-top">
        <div class="card-body">
          <a name="general-linearity"></a>
          <h4>선형성</h4>
          <!--설명: 선형성 / 복수성-->
          <a name="general-linearity-plurality"></a>
          <h5>복수성</h5>
          <h6>정의</h6>
          <ul>
            <li>기사 속에 하나의 시각화가 있는지, 아니면 여러개의 시각화가 있는지 여부</li>
          </ul>
          <h6>항목</h6>
          <ul>
            <li>단일: 전체 기사에 시각화가 한 개인 경우</li>
            <li>복수: 전체 기사에 시각화가 두 개 이상인 경우</li>
          </ul>
          <h6>도움말</h6>
          <ul>
            <li>여러 장면의 시각화가 하나의 틀 안에 구성되어 있다고 여겨지는 경우
              <ul>
                <li>장면 간의 기반 데이터가 현저하게 다른 경우 → [복수]</li>
                <li>그렇지 않고, 기반 데이터는 같지만 어떤 부분을 추출해 보여주거나, 따로 떼어 보여주는 경우 → [단일]</li>
              </ul>
            </li>
            <li>복수의 시각화가 아래의 조건(small multiples)을 만족하는 경우 → [단일]
              <ul>
                <li>동일한 시각적 재현을 통해 구성되어 있음</li>
                <li>행과 열을 갖추어 정렬되어 있음</li>
                <li>물리적으로 인접하게 배치되어 있음 (가령 스크롤이 없거나 1~2번 안에서 모든 세부 시각화를 한번에 확인 가능)</li>
              </ul>
            </li>
          </ul>
          
          <!--설명: 선형성 / 순서성-->
          <a name="general-linearity-ordering"></a>
          <h5>순서성</h5>
          <h6>정의</h6>
          <ul>
            <li>한 기사 안에서 각 시각화의 순서를 저자가 의도한 정도</li>
          </ul>
          <h6>항목</h6>
          <ul>
            <li>해당없음: 전체 기사에 시각화가 한 개인 경우 (복수성=단일)</li>
            아래는 기사 안에 시각화가 여러개 있을 때 (복수성=복수)
            <li>있음: 작가가 분명하게 시각화의 진행 순서를 의도하였음</li>
            <li>약함: 작가가 시각화의 순서를 의도하였지만, 그 의도가 약한 경우</li>
            <li>없음: 시각화를 병렬적으로 나열한 것 뿐이라서, 사실 어느 시각화를 먼저 보더라도 작가의 의도에 반하지 않는 경우</li>
          </ul>
          <h6>도움말</h6>
          <ul>
            <li>기사 안에서 작가가 의도한 진행 순서라 함은, 작가가 일련의 서사적 틀을 구성하여 그 안에 배치하였는지 정도</li>
            <li>시각화들의 배치가 사사 안에 잘 녹여져 있다 / 시각화들을 배치하여 이야기를 구성하고 있다 → [있음]</li>
            <li>배치에 어떤 의도된 순서는 있겠으나 다소 병렬적인 경우 → [약함]</li>
            <li>각 시각화에 번호가 달려 있는데 아무리 봐도 그 번호에 의미가 없는 경우 → [없음]</li>
            <li>기사 안에 여러 시각화가 그냥 나열되어 있다고 느껴지는 경우 → [없음]</li>
          </ul>
          
          <!--설명: 선형성 / 건너뛰기-->
          <a name="general-linearity-skippable"></a>
          <h5>건너뛰기</h5>
          <h6>정의</h6>
          <ul>
            <li>기사 속에 복수의 시각화가 있고, 제공되는 순서를 변경하여 볼 수 있는지 여부</li>
          </ul>
          <h6>항목</h6>
          <ul>
            <li>해당없음: 전체 기사에 시각화가 한 개인 경우 (복수성=단일)</li>
            아래는 기사 안에 시각화가 여러개 있을 때 (복수성=복수)
            <li>가능: 다른 시각화를 건너 뛰어서 볼 수 있음</li>
            <li>불가능: 다른 시각화를 건너 뛰어서 볼 수 없고, 중간에 있는 시각화를 꼭 거쳐야 하는 경우</li>
          </ul>
          <h6>도움말</h6>
          <ul>
            <li>복수의 시각화가 나열되어 있는데, 단순히 스크롤 위치 변경을 통해 넘어가서 볼 수 있는 경우 → [가능]</li>
            <li>스크롤로 전환이 유도되는 상호작용기능이 있는 경우 → [불가능]</li>
            <li>‘다음(NEXT)’이나 ‘이전(PREV)’ 버튼으로 넘겨서만 볼 수 있는 경우  → [불가능]</li>
            <li>‘다음(NEXT)’이나 ‘이전(PREV)’ 버튼으로 넘겨서도 볼 수 있지만, 직접 탭으로 변경 가능한 경우 → [가능]</li>
          </ul>
          
          <a name="general-message"></a>
          <h4>메시지</h4>
          <!--설명: 메시지 / 텍스트 시각화 중심도-->
          <a name="general-message-messageRatio"></a>
          <h5>텍스트/시각화 중심도</h5>
          <h6>정의</h6>
          <ul>
            <li>전체 기사 안에서 텍스트와 시각화 요소의 구성 비율이나 의존하는 정도</li>
          </ul>
          <h6>항목</h6>
          <ul>
            <li>시각화 중심: 아래에 해당하면 시각화 중심 기사로 코딩
            <ul>
              <li>분량의 8할 이상이 시각화로 구성되어 있는 경우</li>
              <li>전체 기사가 시각화의 틀 안에서 진행되는 경우</li>
            </ul></li>
            <li>혼합: 시각화 중심, 텍스트 중심이라고 하기 어려운 경우
            <ul>
              <li>시각화와 텍스트의 양이 4:6~6:4 정도의 비율로 유지되며 균형을 갖추고 있는 경우</li>
              <li>본문의 텍스트가 시각화 요소와 대등하게 제공되고 주로 시각화 내용에 관해서만 언급하는 경우</li>
            </ul></li>
            <li>텍스트 중심: 아래에 해당하면 텍스트 중심 기사로 코딩
            <ul>
              <li>분량의 8할 이상이 기사 텍스트로 구성되어 있는 경우</li>
              <li>시각화 요소가 많더라도, 전체 기사는 텍스트 서사 중심으로 진행되며 시각화 요소들은 텍스트 기사의 보조자료로 사용되는 경우</li>
            </ul></li>
          </ul>
          <h6>도움말</h6>
          <ul>
            <li>여기서 텍스트는 기사 본문을 의미하며, 시각화 안에서 식별/상세화 등을 위해 제공되는 것은 제외함</li>
            <li>자료의 출처 등을 표시하는 부분은 텍스트로 보지 아니함</li>
            <li>데이터를 표의 형태로 원문제공하는 경우 시각화나 텍스트로 보지 아니함</li>
            <li>전체 기사가 항상 텍스트로만, 시각화로만 이루어지는 경우가 없고, 시각화의 경우 크기가 작거나 개수는 하나더라도 설명하는 양이 많을 수 있어서 주의 해야 함</li>
          </ul>
          
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
  $('select').on('focus', function () {
    $(this).parent().parent().find('a')[0].click()
  })
  $('input[type=checkbox]').on('focus', function () {
    $(this).parent().parent().parent().find('a')[0].click()
  })
  $('.on_fixed').css('height', $(window).height()-100);
  $('select').each(function() {
    console.log($(this).attr('name'))
  })
</script>
<style>
  a {
    cursor: pointer;
  }
  table td:nth-of-type(1) {width:100px;}
  table td:nth-of-type(2) {width:130px;}
  
  .on_fixed {
    overflow: scroll;
  }
  
  h6 {
    font-weight: 600;
    padding: 10px;
  }
  h5 {
    font-weight: 600;
    color: orangered;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  h4 {
    font-weight: 700;
    color: mediumblue;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
  }
</style>