<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-left">
      <div class="card">
        <div class="card-body">
          로그인 후 이용해주세요!
        </div>
      </div>
    </div>
  </div>
</div>

{{#if showTests}}
  Mocha Test
{{/if}}